api/.env
api/.env.*
api/*.db
api/.coverage
api/.pytest_cache
api/.ruff_cache
api/.mypy_cache
api/.pyright
api/__pycache__
api/**/__pycache__
api/**/*.pyc
api/**/*.pyo
api/*.egg-info
api/kubeconfig.yaml
api/*kubeconfig*.yaml
web/node_modules
web/dist
sdk/dev
sdk/.coverage
sdk/.pytest_cache
sdk/.ruff_cache
sdk/.mypy_cache
sdk/__pycache__
sdk/**/__pycache__
