@layer reset, theme, base, astryx-base, astryx-theme, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import '@astryxdesign/core/reset.css';
@import '@astryxdesign/core/astryx.css';
@import '@fontsource-variable/inter';
@import 'tailwindcss/utilities.css' layer(utilities);

@layer base {
    body {
        background-color: var(--color-background-body);
        color: var(--color-text-primary);
        overflow-x: hidden;
    }
    html {
        overflow-x: hidden;
        scrollbar-gutter: stable;
    }
}
