EXOSCALE_API_KEY=replace-with-the-api-key
EXOSCALE_API_SECRET=replace-with-the-api-secret
EXOSCALE_STORAGE_ENDPOINT_URL=https://sos-ch-gva-2.exo.io

# Optional remote PostgreSQL registry used to provision Organization and Application databases.
# APPLICATION_DATABASE_URL=postgresql://admin:secret@db.example.com:5432/postgres?sslmode=require

# Optional remote Kubernetes compute target.
# KUBECONFIG=../kubeconfig.yml
